.planList {
  	margin: 0 -5px;
  	padding: 5px;
}

.describe {
	width: 130pt; 
	height: 320pt;
	margin-top: 6em;
	margin-left: 41em; 
	padding-top: 8pt;
	padding-left: 10pt;
	padding-right: 10.5pt;
	border: 1px solid rgba(0, 0, 255, 0.85);
	text-align: center;
	border-radius: 4px;
}

.foto {
	position: absolute;
	margin-top: -27.3em; 
	margin-bottom: 30em;
	margin-left: 7.9em; 	
}

img.img-responsive {
	border-radius: 5.5px;
}

.list-group-item {
	top: 3.6em;
	width: 10em;
	height: 2.5em;
	margin-right: 2em;
	margin-left: 4.4em;
	padding-top: 6pt;
	border: 1px solid rgba(16, 6, 35, 0.69);
}

.list-group-item:hover {
	color: #ef7845;
    border: 1.5px solid rgba(53, 43, 46, 0.81);
}

.addEvent {
	position: absolute;
	width: 204pt;
	margin-top: 35em; 
	margin-left: 11.3em; 
	color: #FEF0F5;
    font-style: italic;
    background-color: darkcyan;
    border-color: lawngreen;
}

.btn-success:hover {
	background-color: lawngreen;
    border: 1.5pt solid darkcyan;
    color: #FEF4F8;
}

.contenido {
	height: 1150px;
	margin-top: -18.6em; 
	margin-left: 20em;
	margin-right: .5em;
	border: .5pt solid #0275d8;
	border-radius: 4px;
}

.embed-responsive-4by3.eventVid {
	margin-top: 6.5em;
	margin-left: 7.9em;
}

.embed-responsive-item {
	width: 420px;
	height: 420px;
	border-radius: 7px;
}

.embed-responsive-item.preview {
	width: 440px;
	height: 320px;
	position: absolute;
	margin-left: 28em;
	margin-top: 2.2em;
}

.cityVid {
	width: 76.5em;
	height: 300px;
	margin-top: -19.6em;
	margin-bottom: -15em;
}

.noDay {
	position: absolute;
	width: 270px;
	height: 44px;
	text-align: center;
	margin-top: 34em;
	margin-left: 12.2em;
}

h1.neon {
	margin-left: 9.8em;
	margin-top: 1.4em;
	margin-bottom: .18em;
	color: #a6f5f7; 
	height: 20pt;
	letter-spacing: 10px;
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

h1 {
	font-family: Monoton !important;
	font-size: 3.5em;
	text-decoration: none;
  	-webkit-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	transition: all 0.5s;
}

.titleContainer {
    height: 40px;
    width: 200px;
    position: absolute;
    margin-left: 41em;
    margin-top: 2em;
    text-align: center;
}

h3.cityTitle {
	word-wrap: break-word;
	color: #ea1640;
}

p::first-letter{
	font-size: 20px;
	padding-right: 1px;
}

@-webkit-keyframes neon1 {
	from {
		text-shadow: 0 0 5px #03f59c, 0 0 10px #0b52e4,
             		 0 0 20px #48adbf, 0 0 30px #0abfe0,
                     0 0 40px #0e27ca;
    }
    to {
    	text-shadow: 0 0 2.5px #03f59c, 0 0 5px #0b52e4,
             		 0 0 10px #48adbf, 0 0 15px #0abfe0,
             		 0 0 20px #0e27ca;
    }
}