<header>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a routerLink="{{'/city'}}" class="navbar-brand">
						Japanning - your ninja travel guide
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a routerLink="{{'/city'}}">Cities</a></li>
						<li><a routerLink="{{'/agenda'}}">Agenda</a></li>
					</ul>
				</div>
			</div>
		</nav>
</header>
			<router-outlet></router-outlet>